/* Custom Toast */

.toast-container {
  z-index: 999999 !important;
}

.ui.toast.custom-toast {
  padding: 0;
  color: white;
  background-color: #1b1c1d;
  border-top-left-radius: .28571429rem;
  border-top-right-radius: .28571429rem;
}

.ui.toast.custom-toast .header {
  display: inline-flex;
  align-items: center;
  background-color: #333;
  padding: 0.75em 0.75em;
  width: 100%;
  border-top-left-radius: .28571429rem;
  border-top-right-radius: .28571429rem;
  font-size: 1em;
}

.ui.toast.custom-toast .header i {
  font-size: 1em;
  margin-bottom: 2px;
}

.ui.toast.custom-toast .message {
  font-family: monospace;
  padding: 0.75em;
}

/* Inverted input */
.ui.inverted.inverted.inverted.input input {
  border: 1px solid rgba(255, 255, 255, .15);
  background: #1b1c1d;
  color: rgba(255, 255, 255, .8);
}

.ui.inverted.inverted.inverted.icon.input i {
  color: rgba(255, 255, 255, .8);
}

.ui.inverted.form .field .inverted.input input:autofill {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.field.field.error .ui.inverted.input input {
  border-color: #e0b4b4;
  color: #ecd1d1;
}

.field.field.error .ui.inverted.input input:focus {
  background: #1b1c1d;
}

/* Centered input */
.ui.centered.input input {
  text-align: center;
}

/* Inverted segment */
.ui.inverted.grey.segment.segment.segment.segment {
  border-color: rgba(255, 255, 255, .15);
}

/* Inverted button */
.ui.basic.inverted.button, .ui.basic.inverted.buttons .button {
  box-shadow: 0 0 0 1px rgba(255, 255, 255, .5) inset;
}

.ui.red.inverted.button, .ui.red.inverted.buttons .button {
  box-shadow: 0 0 0 1px #ff695e inset;
}

.ui.basic.inverted.button:hover, .ui.basic.inverted.buttons .button:hover {
  box-shadow: 0 0 0 1px white inset;
}

/* Dark Mode */

body.inverted {
  background-color: #141414;
}

/* Segments */
.ui.inverted.container {
  color: rgba(255, 255, 255, .9);
}