.css-context-menu {
    position: absolute !important;
    padding: 0 !important;
    z-index: 99 !important;
}

.css-context-menu-item {
    border: none !important;
    box-shadow: none !important;
}

.css-context-menu-item:hover {
    background-color: rgb(61, 61, 61) !important;
}

.css-context-menu::before {
    top: 1.25em !important;
    z-index: -1 !important;
}

.css-search-entry {
	padding-top: .78571429em;
	padding-bottom: .78571429em;
    line-height: 1em;
    padding-left: 1em;
	margin: 0;
    cursor: pointer;
}

.css-search-entryinfo {
	padding-top: .78571429em;
	padding-bottom: .78571429em;
    line-height: 0.5em;
    padding-left: 1em;
	margin: 0;
}

.css-search-popup {
    position: absolute !important;
    padding: 0 !important;
    z-index: 99 !important;
    top: 2.7em !important;
    text-align: left !important;
    box-shadow: none !important;
}

.icon.css-star, .icon.css-unstar {
    float: right;
    margin-right: .9em;
    opacity: 0.5;
}

.icon.css-unstar:hover::before {
    font-family: outline-icons;
}

.icon.css-star:hover::before {
    font-family: Icons;
}

.icon.css-star:hover, .icon.css-unstar:hover {
    opacity: 1;
}
