:root {
    --background-color: #141414;
    --text-color: white;
    --heading-color: orange;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

.version-list {

}

.version-list li {
    margin-top: 0.5em;
}

.version-list h3.ui.header {
    color: var(--heading-color);
    margin-top: 0;
}

.version-list ul {
    margin: 0;
}

.version-list .row {
    padding: 0;
    margin-top: 1em;
    margin-bottom: 1em;
}

.version-list .simple-list li:first-child {
    margin-top: 0;
}
