.form.white label {
    color: white !important;
}

.selectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-bottom: 0.25em !important;
    padding-top: 0.25em !important;
    height: 4em;
}

.selectable div {
    padding: 0 !important;
}

.compact-buttons button {
    padding-left: 1em !important;
    padding-right: 1em !important;
}

.selectable-header div {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.selected {
    background-color: rgba(133, 133, 133, 0.1);
    cursor: pointer;
}

.nselected {
    cursor: pointer;
}

.inactive {
    opacity: 50%;
}

#sim-players1 {
    align-content: flex-start;
    padding-bottom: 0.75em;
}

.footer {
    position: fixed;
    left: 1em;
    bottom: 1em;
}

.text .boss-image {
    top: -0.75em !important;
    right: -0.75em !important;
}

.boss-rune {
    font-size: 70%;
    margin-left: 0.25em;
    position: absolute;
    right: 3.5em;
    bottom: 0;
}

div.text .boss-rune {
    bottom: -1.1em;
    right: 2.5em;
}

#boss-list .text, #available-list .text {
    width: 100%;
}

#boss-list .text img {
    right: -1.9em !important;
}

#boss-list .menu, #available-list .menu {
    overflow-y: scroll;
}

#available-list .boss-dungeon-name {
    font-size: 80%;
    position: absolute;
    top: -0.75em;
}

#available-list .boss-name {
    font-size: 90%;
    position: absolute;
    top: 0.5em;
}

#available-list .menu .boss-dungeon-name {
    top: 0.25em;
}

#available-list .menu .boss-name {
    top: 1.5em;
}

#available-list .boss-rune {
    font-size: 70%;
    position: absolute;
    right: 3.5em;
    top: -0.85em;
}

#available-list .menu .boss-rune {
    top: 0.35em;
}

#winchart.faded-out {
    opacity: 0.5 !important;
}

[data-op="experience"] div {
    text-align: center;
    margin-top: 0.5em;
    padding-bottom: 0.5em;
    font-weight: bold;
    color: lightgray;
    border-bottom: 1px solid darkgray;
}

.dungeon-shadow {
    color: #dec0ff;
}