/* Paste target */
@media only screen and (max-width: 992px) {
    .paste-target {
        display: none;
    }
}

.paste-target {
    position: absolute;
    right: 2em;
    top: 5em;
    border: 3px #a9d1ce dashed;
    width: 8.5em;
    color: #5f827f;
    height: 8.5em;
    text-align: center;
    padding: 0.5em;
    pointer-events: none;
    display: flex;
    flex-direction: column;
}

/* Morph */
div.morph .menu {
    width: 14rem;
}

div.right.action div.buttons {
    border-radius: 0 .28571429rem .28571429rem 0;
}

div.morph div.disabled.item {
    opacity: 1 !important;
    font-weight: bold !important;
    text-align: center !important;
    border-bottom: 1px solid rgba(34, 36, 38, 0.15) !important;
}

/* Selectable list */
.selectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-bottom: 0.25em !important;
    padding-top: 0.25em !important;
    cursor: pointer;
}

.selectable:not(.selected):hover {
    background-color: rgba(133, 133, 133, 0.05)
}

.selectable div {
    padding: 0 !important;
}

.selectable-header div {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.selected {
    background-color: rgba(133, 133, 133, 0.1);
}

.selectable.transparent-border {
    border: 1px solid transparent;
}

.selectable.purple-border {
    border: 1px solid purple;
}

/* Index */
.player-index {
    position: absolute;
    font-size: 90%;
    opacity: 50%;
    left: -0em;
    top: 1.5em;
}
