body {
    background-color: #141414;
}

.dvselection {
    color: white;
    padding: 2em;
    width: 100%;
    height: 10em;
}

.dvselection:hover {
    cursor: pointer;
}

.dvselection:hover .dvheader {
    opacity: 0;
}

.dvselection:hover .dvdescription {
    opacity: 1;
}

h1 {
    text-align: center;
    font-size: 3em;
    color: white;
    font-weight: bold;
    padding-bottom: 1em;

    border-image: linear-gradient(to right, #141414 0%, white 50%, #141414 100%);
    border-image-slice: 1;
    border-bottom: 1px solid transparent;
}

h2 {
    text-align: left;
    color: white;
    margin-top: 0;
    filter: brightness(130%);
}

h3 {
    text-align: left;
    color: white;
    margin-top: 0;
}

.dvheader {
    text-align: center;
    font-size: 2.5em;
    font-weight: bold;
    line-height: 1em;
    text-transform: uppercase;
    opacity: 1;
}

.singleline {
    margin-top: -1.9em;
}

.twoline {
    margin-top: -2.4em;
}

.dvheader, .dvdescription {
    transition: opacity 0.1s linear;
}

.dvdescription {
    text-align: center;
    font-size: 1em;
    opacity: 0;
    margin-top: 3.25em;
    height: 5em;
}

.wip {
    opacity: 0.5;
}

.wip::before {
    content: 'WIP';
    position: absolute;
    left: calc(50% - 1em);
    top: 4em;
    color: orange;
    font-weight: bold;
}

.footer {
    color: white;
    opacity: 0.6;
    font-size: 90%;
    pointer-events: none;
}

.footer-repo {
    height: 4.1em;
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: left;
    padding-left: 1em;
}

.footer-legal {
    height: 7.25em;
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: right;
    padding-right: 1em;
}

.footer-about {
    height: 2.6em;
    margin: auto;
    width: 100%;
    bottom: 0;
    position: fixed;
    text-align: center;
    cursor: default;
}

.dvholder {
    position: relative;
}

.dvchild {
    position: absolute;
    left: 0;
    top: -1.5em;

    color: orange;
    font-size: 50%;
}

.role-adventurer {
    color: #06a9ef;
}

.role-veteran {
    color: #8256c7;
}

.role-promoter {
    color: #e180de;
}

.role-playa {
    color: #eb0064;
}

.role-admin {
    color: #923232;
}

.role-toolwizard {
    color: #0e9958;
}

.role-mentor {
    color: #2ecc71;
}

.role-moderator {
    color: #ce5858;
}

.newcol {
    color: white;
    text-align: center;
    margin-bottom: 1em;
}

.newcol h3 {
    text-align: center;
}

.newcol h2 {
    display: inline;
    margin-left: 0.75em;
    margin-right: 0.75em;
}

.newcol .extras {
    color: white;
    font-weight: normal;
    font-size: 65%;
}

.linked {
    text-decoration: underline;
}

.divider {
    margin-bottom: 0.75em;
}

#sf-menu {
    padding-bottom: 4em;
}
