.ta-editor {
  position: relative;
  overflow: hidden;
  height: 100%;
}

.ta-editor-measure {
  position: absolute;
  top: 0;
  font-size: 14px !important;
  font-family: Consolas, "Courier New", monospace !important;
  line-height: 18px;
  pointer-events: none;
  color: transparent;
  white-space: pre;
}

.ta-editor-info {
  position: absolute;

  right: 17px;
  top: 0;

  pointer-events: none;

  padding: 10px 15px;
  font-size: 12px;
  color: rgb(204, 204, 204);
  display: none;
}

.ta-editor-info.visible {
  display: block;
}

.ta-editor-info-line::before {
  margin-right: 5px;
  font-family: icons;
}

.ta-editor-info-line-deprecated::before {
  content: '\f071';
  color: rgba(255, 166, 0, 0.75);
}

.ta-editor-bar {
  height: 17px;
  max-height: 17px;
  background-color: rgb(46, 46, 46);
  color: #cccccc;
  z-index: 1;
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  padding-right: 25px;
  align-items: center;
  font-size: 11px;
  line-height: 11px;
  font-family: Consolas, "Courier New", monospace !important;
}

.ta-editor-overlay {
  position: absolute;
  border: 1px solid transparent;
  pointer-events: none;
  color: white;
  white-space: nowrap;

  font-size: 14px !important;
  font-family: Consolas, "Courier New", monospace !important;
  line-height: 18px;

  left: var(--offset-left, 0px);
  top: var(--offset-top, 0px);

  transform: translate(var(--scroll-left), var(--scroll-top));

  white-space: pre;
}

.ta-editor-highlight {
  position: absolute;
  border: 1px solid rgba(255, 255, 255, 0.315);
  pointer-events: none;
  white-space: nowrap;

  font-size: 14px !important;
  padding-bottom: 1px;
  font-family: Consolas, "Courier New", monospace !important;
  line-height: 18px;

  left: calc(var(--position-left, 0px) + var(--offset-left, 0px));
  top: calc(var(--position-top, 0px) + var(--offset-top, 0px));

  transform: translate(var(--scroll-left), var(--scroll-top));

  white-space: pre;
}

.ta-editor-overlay-page {
  list-style-type: none;
  counter-reset: item;
}

.ta-editor-overlay-line {
  width: fit-content;
}

.ta-editor-overlay-line::before {
  font-size: 12px;
  color: grey;

  margin-left: -40px;

  content: counter(item);
  counter-increment: item;

  position: absolute;
  text-align: right;
  width: 30px;
}

.ta-editor-suggestions {
  position: absolute;
  border: 1px solid rgba(255, 255, 255, .15);
  white-space: nowrap;

  font-size: 14px !important;
  font-family: Consolas, "Courier New", monospace !important;
  line-height: 18px;

  background: #2c2c2c;
  z-index: 1;
  overflow-y: scroll;
  width: 400px;
  max-height: 300px;
  min-height: 100px;

  display: none;

  left: calc(var(--position-left, 0px) + var(--offset-left, 0px));
  top: calc(var(--position-top, 0px) + var(--offset-top, 0px));

  transform: translate(var(--scroll-left), var(--scroll-top));
}

.ta-editor-suggestions.visible {
  display: block;
}

.ta-editor-suggestions > [data-suggestion] {
  padding-left: 4px;
  cursor: pointer;
  white-space: pre;
  display: none;
}

.ta-editor-suggestions > [data-suggestion].visible {
  display: block;
}

.ta-editor-suggestions > [data-suggestion]:hover, .ta-editor-suggestions > [data-suggestion][data-selected] {
  background: #3c3c3c;
  outline: none;
}

[data-suggestion-type]::before {
  margin-right: 5px;
  width: 15px;
  font-family: icons;
  font-size: 80%;
  color: rgba(136, 136, 136, 0.75);
  display: inline-block;
  text-align: center;
}

[data-suggestion-type="command"]::before {
  content: '\f121';
}

[data-suggestion-type="constant"]::before {
  content: '\f1fa';
}

[data-suggestion-type="variable"]::before {
  content: '\f292';
}

[data-suggestion-type="function"]::before {
  content: '\f013';
}

[data-suggestion-type="header"]::before {
  content: '\f1dc';
}

[data-suggestion-type="accessor"]::before {
  content: '\f031';
}

[data-suggestion-type="enumeration"]::before {
  content: '\f02d';
}

.ta-editor-textarea {
  color: transparent !important;
  background-color: #1b1c1d !important;
  border-color: rgba(255, 255, 255, .15) !important;
  caret-color: grey;
  max-height: 100% !important;
  height: 100% !important;
  resize: none !important;
  overflow: auto;

  overscroll-behavior: none;
  font-size: 14px !important;
  font-family: Consolas, "Courier New", monospace !important;
  line-height: 18px;

  padding-left: 40px !important;
}

.ta-editor.with-ta-editor-bar .ta-editor-textarea {
  max-height: calc(100% - 17px) !important;
  height: calc(100% - 17px) !important;

  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.ta-editor-textarea::selection {
  color: transparent;
}

/* Keywords */

.ta-deprecated {
  text-decoration: line-through;
}

.ta-keyword {
  color: #ffffff;
  font-weight: bold;
}

.ta-reserved-public {
  color: #f550f5;
  font-weight: bold;
}

.ta-reserved-protected {
  color: #ba6bff;
  font-weight: bold;
}

.ta-reserved-private {
  color: #3269a8;
  font-weight: bold;
}

.ta-operator {
  color: #ffffff;
}

.ta-enum {
  color: #a80032;
  font-weight: bold;
}

.ta-reserved-special {
  color: #a37500;
  font-weight: bold;
}

.ta-reserved-scoped {
  color: #3CB371;
  font-weight: bold;
}

.ta-color {
  text-decoration: underline;
}

.ta-constant {
  color: #46bbb5;
}

.ta-variable-local {
  color: #46bbb5;
}

.ta-variable-table {
  color: #1f58cc;
}

.ta-variable-global {
  color: #6d1fcc;
}

.ta-value {
  color: #8ba1c4;
}

.ta-identifier {
  color: #8ba1c4;
  font-weight: bold;
}

.ta-function {
  color: #46bbb5;
  font-weight: bold;
}

.ta-error {
  text-decoration: underline;
  text-decoration-color: red;
  text-decoration-style: wavy;
}

.ta-error-color {
  text-decoration: underline;
  text-decoration-color: red;
  text-decoration-style: wavy;

  color: red;
}

.ta-error-float {
  position: relative;
}

.ta-error-float::after {
  position: absolute;

  content: attr(data-content);

  text-decoration: underline;
  text-decoration-color: red;
  text-decoration-style: wavy;

  color: red;
}

.ta-true {
  color: #51e859;
  font-weight: bold;
}

.ta-false {
  color: #ff5d12;
  font-weight: bold;
}

.ta-comment {
  color: #7a7a7a;
}

.ta-string {
  color: #7a7a7a;
}

.ta-macro {
  background-color: #a8323240;
}
