.ta-editor {
  position: relative;
  overflow: hidden;
  height: 100%;
}

.ta-editor-info {
  position: absolute;

  right: 17px;
  top: 0;

  pointer-events: none;

  padding: 10px 15px;
  font-size: 12px;
  color: rgb(204, 204, 204);
  display: none;
}

.ta-editor-info.visible {
  display: block;
}

.ta-editor-info-line::before {
  margin-right: 5px;
  font-family: icons;
}

.ta-editor-info-line-deprecated::before {
  content: '\f071';
  color: rgba(255, 166, 0, 0.75);
}

.ta-editor-overlay {
  position: absolute;
  border: 1px solid transparent;
  pointer-events: none;
  color: white;
  white-space: nowrap;

  font-size: 14px !important;
  font-family: Consolas, "Courier New", monospace !important;
  line-height: 1.2857;

  left: var(--offset-left, 0px);
  top: var(--offset-top, 0px);

  transform: translate(var(--scroll-left), var(--scroll-top));
}

.ta-editor-overlay-page {
  list-style-type: none;
  counter-reset: item;
}

.ta-editor-overlay-line {
  width: fit-content;
}

.ta-editor-overlay-line::before {
  font-size: 12px;
  color: grey;

  margin-left: -40px;

  content: counter(item);
  counter-increment: item;

  position: absolute;
  text-align: right;
  width: 30px;
}

.ta-editor-autocomplete {
  position: absolute;
  border: 1px solid rgba(255, 255, 255, .15);
  white-space: nowrap;

  font-size: 14px !important;
  font-family: Consolas, "Courier New", monospace !important;
  line-height: 1.2857;

  background: #2c2c2c;
  z-index: 1;
  overflow-y: scroll;
  width: 400px;
  max-height: 300px;
  min-height: 100px;

  display: none;

  left: calc(var(--position-left, 0px) + var(--offset-left, 0px));
  top: calc(var(--position-top, 0px) + var(--offset-top, 0px));

  transform: translate(var(--scroll-left), var(--scroll-top));
}

.ta-editor-autocomplete.visible {
  display: block;
}

.ta-editor-autocomplete > [data-autocomplete] {
  padding-left: 4px;
  cursor: pointer;
  white-space: pre;
  display: none;
}

.ta-editor-autocomplete > [data-autocomplete].visible {
  display: block;
}

.ta-editor-autocomplete > [data-autocomplete]:hover, .ta-editor-autocomplete > [data-autocomplete][data-selected] {
  background: #3c3c3c;
  outline: none;
}

[data-autocomplete-type]::before {
  margin-right: 5px;
  width: 15px;
  font-family: icons;
  font-size: 80%;
  color: rgba(136, 136, 136, 0.75);
  display: inline-block;
  text-align: center;
}

[data-autocomplete-type="command"]::before {
  content: '\f121';
}

[data-autocomplete-type="constant"]::before {
  content: '\f1fa';
}

[data-autocomplete-type="variable"]::before {
  content: '\f292';
}

[data-autocomplete-type="function"]::before {
  content: '\f013';
}

[data-autocomplete-type="header"]::before {
  content: '\f1dc';
}

[data-autocomplete-type="accessor"]::before {
  content: '\f031';
}

[data-autocomplete-type="enumeration"]::before {
  content: '\f02d';
}

.ta-editor-textarea {
  color: transparent !important;
  background-color: #1b1c1d !important;
  border-color: rgba(255, 255, 255, .15) !important;
  caret-color: grey;
  max-height: 100% !important;
  height: 100% !important;
  resize: none !important;
  overflow: auto;

  font-size: 14px !important;
  font-family: Consolas, "Courier New", monospace !important;
  line-height: 1.2857;

  padding-left: 40px !important;
}

.ta-editor-textarea::selection {
  color: transparent;
}

/* Keywords */

.ta-deprecated {
  text-decoration: line-through;
}

.ta-keyword {
  color: #ffffff;
  font-weight: bold;
}

.ta-reserved-public {
  color: #f550f5;
  font-weight: bold;
}

.ta-reserved-protected {
  color: #ba6bff;
  font-weight: bold;
}

.ta-reserved-private {
  color: #3269a8;
  font-weight: bold;
}

.ta-operator {
  color: #ffffff;
}

.ta-enum {
  color: #a80032;
  font-weight: bold;
}

.ta-reserved-special {
  color: #a37500;
  font-weight: bold;
}

.ta-reserved-scoped {
  color: #3CB371;
  font-weight: bold;
}

.ta-color {
  text-decoration: underline;
}

.ta-constant {
  color: #46bbb5;
}

.ta-variable-local {
  color: #46bbb5;
}

.ta-variable-table {
  color: #1f58cc;
}

.ta-variable-global {
  color: #6d1fcc;
}

.ta-value {
  color: #8ba1c4;
}

.ta-identifier {
  color: #8ba1c4;
  font-weight: bold;
}

.ta-function {
  color: #46bbb5;
  font-weight: bold;
}

.ta-error {
  text-decoration: underline;
  text-decoration-color: red;
  text-decoration-style: wavy;
}

.ta-error-color {
  text-decoration: underline;
  text-decoration-color: red;
  text-decoration-style: wavy;

  color: red;
}

.ta-true {
  color: #51e859;
  font-weight: bold;
}

.ta-false {
  color: #ff5d12;
  font-weight: bold;
}

.ta-comment {
  color: #7a7a7a;
}

.ta-string {
  color: #7a7a7a;
}

.ta-macro {
  background-color: #a8323240;
}
