.ta-wrapper {
  position: relative;
  overflow: hidden;
  height: 100%;
}

.ta-form {
  height: 100%;
}

.ta-form .field {
  height: 100%;
}

.ta-content {
  position: absolute;
  border: 1px solid transparent;
  pointer-events: none;
  color: white;
  width: 1000%;
  white-space: nowrap;

  font-size: 14px !important;
  font-family: Consolas, "Courier New", monospace !important;
}

.ta-area {
  color: transparent !important;
  background-color: #1b1c1d !important;
  border-color: rgba(255, 255, 255, .15) !important;
  caret-color: grey;
  max-height: 100% !important;
  height: 100% !important;
  resize: none !important;
  overflow: auto;

  font-size: 14px !important;
  font-family: Consolas, "Courier New", monospace !important;
}

.ta-area::selection {
  color: transparent;
}

.ta-keyword {
  color: #ffffff;
  font-weight: bold;
}

.ta-reserved-public {
  color: #f550f5;
  font-weight: bold;
}

.ta-reserved-protected {
  color: #ba6bff;
  font-weight: bold;
}

.ta-reserved-private {
  color: #3269a8;
  font-weight: bold;
}

.ta-enum {
  color: #a80032;
  font-weight: bold;
}

.ta-reserved-special {
  color: #a37500;
  font-weight: bold;
}

.ta-reserved-scoped {
  color: #3CB371;
  font-weight: bold;
}

.ta-color {
  text-decoration: underline;
}

.ta-constant {
  color: #46bbb5;
}

.ta-global {
  color: #1f58cc;
}

.ta-value {
  color: #8ba1c4;
}

.ta-identifier {
  color: #8ba1c4;
  font-weight: bold;
}

.ta-global-unfiltered {
  color: #6d1fcc;
}

.ta-function {
  color: #46bbb5;
  font-weight: bold;
}

.ta-error {
  text-decoration: underline;
  text-decoration-color: red;
  text-decoration-style: wavy;
}

.ta-true {
  color: #51e859;
  font-weight: bold;
}

.ta-false {
  color: #ff5d12;
  font-weight: bold;
}

.ta-comment {
  color: #7a7a7a;
}

.ta-string {
  color: #7a7a7a;
}

.ta-macro {
  background-color: #a8323240;
}
