.ta-wrapper {
  position: relative;
  overflow: hidden;
  height: 100%;
}

.ta-form {
  height: 100%;
}

.ta-form .field {
  height: 100%;
}

.ta-content {
  position: absolute;
  border: 1px solid transparent;
  pointer-events: none;
  color: white;
  width: 1000%;
  font-size: 1em !important;
  font-family: Arial, Helvetica, sans-serif !important;
}

.ta-area {
  color: transparent !important;
  background-color: #1b1c1d !important;
  border-color: rgba(255, 255, 255, .15) !important;
  caret-color: grey;
  max-height: 100% !important;
  height: 100% !important;
  resize: none !important;
  overflow: auto;
  font-family: Arial, Helvetica, sans-serif !important;
}

.ta-area::selection {
  color: transparent;
}

.ta-keyword {
  text-shadow: -0.03ex 0 white, 0.03ex 0 white;
}

.ta-reserved {
  text-shadow: -0.03ex 0 #f550f5, 0.03ex 0 #f550f5;
  color: #f550f5;
}

.ta-reserved-protected {
  text-shadow: -0.03ex 0 #ba6bff, 0.03ex 0 #ba6bff;
  color: #ba6bff;
}

.ta-reserved-private {
  text-shadow: -0.03ex 0 #3269a8, 0.03ex 0 #3269a8;
  color: #3269a8;
}

.ta-enum {
  text-shadow: -0.03ex 0 #a80032, 0.03ex 0 #a80032;
  color: #a80032;
}

.ta-reserved-special {
  text-shadow: -0.03ex 0 #a37500, 0.03ex 0 #a37500;
  color: #a37500;
}

.ta-reserved-scoped {
  text-shadow: -0.03ex 0 #3CB371, 0.03ex 0 #3CB371;
  color: #3CB371;
}

.ta-reserved-itemizable {
  text-shadow: -0.03ex 0 #eb4034, 0.03ex 0 #eb4034;
  color: #eb4034;
}

.ta-color {
  text-decoration: underline;
}

.ta-constant {
  color: #46bbb5;
}

.ta-global {
  color: #1f58cc;
}

.ta-global-unfiltered {
  color: #6d1fcc;
}

.ta-function {
  text-shadow: -0.03ex 0 #46bbb5, 0.03ex 0 #46bbb5;
  color: #46bbb5;
}

.ta-error {
  text-decoration: underline;
  text-decoration-color: red;
  text-decoration-style: dashed;
}

.ta-boolean-on {
  text-shadow: -0.03ex 0 greenyellow, 0.03ex 0 greenyellow;
  color: greenyellow;
}

.ta-boolean-off {
  text-shadow: -0.03ex 0 orangered, 0.03ex 0 orangered;
  color: orangered;
}

.ta-comment {
  color: #7a7a7a;
}

.ta-extras {
  position: relative;
}

.ta-extras span {
  color: #696969;
  font-size: 70%;
  position: absolute;
  left: 5px;
}

.ta-macro {
  background-color: #a8323240;
  text-shadow: -0.03ex 0 white, 0.03ex 0 white;
}
