.ui.menu.fixed {
    background-color: #212121;
}

body {
    margin-top: 5em;
    height: auto;
    overflow-y: scroll !important;
    overflow-x: auto;
}

.css-timestamp {
    position: absolute;
    top: 0.25em;
    left: 4.5em;
    font-size: 85%;
}

body.dimmed {
    overflow: hidden !important;
    margin-right: 17px !important;
}

body.dimmed .menu {
    margin-right: 17px !important;
}

.white {
    color: white !important;
}

.padding-none {
    padding: 0 !important;
}

.modals {
    overflow-y: scroll !important;
}

.modals.fade.out {
    overflow: hidden !important;
}

.text-white label, .text-white .header, .text-white a {
    color: white !important;
}

.hidden {
    display: none !important;
}

.glow:hover {
    color: red !important;
    cursor: pointer !important;
}

.glow-y:hover {
    color: darkgreen !important;
    cursor: pointer !important;
}

.nopad {
    padding-top: 1.0em !important;
}

.nopad > .column {
    padding: 0.25em !important;
}

.ffgreen {
    color: green !important;
}

.sf-container {
    margin-bottom: 5em;
}

input:disabled {
    opacity: 1 !important;
}

#runes::placeholder {
    opacity: 1 !important;
    color: grey !important;
}

.muted {
    color: #505050 !important;
}

.margin-tiny-top {
    margin-top: 0.2em !important;
}

.field.npl {
    padding-left: 0 !important;
}

.field.npr {
    padding-right: 0 !important;
}

.margin-none-top {
    margin-top: 0 !important;
}

.margin-medium-top {
    margin-top: 1.0em !important;
}

.margin-medium-bottom {
    margin-bottom: 1.0em !important;
}

.padding-none-bottom {
    padding-bottom: 0 !important;
}

.padding-none-top {
    padding-top: 0 !important;
}

.margin-large-top {
    margin-top: 5.0em !important;
}

.margin-small-bottom {
    margin-bottom: 0.5em !important;
}

.css-template-item {
    padding-top: 0.5em !important;
    padding-bottom: 0 !important;
    line-height: 1 !important;
}

.css-small-row {
    padding-top: 0 !important;
    padding-bottom: 0.5em !important;
}

.css-template-buttons {
    height: 100% !important;
}

.css-template-list {
    margin-top: 1em !important;
}

.margin-none-bottom {
    margin-bottom: 0 !important;
}

.clickable {
    cursor: pointer !important;
}

.border-red {
    border-color: red !important;
}

.text-center {
    text-align: center !important;
}

.text-left {
    text-align: left !important;
}

.undertone {
    background-color: #F0F0F0 !important;
}

.text-right {
    text-align: right !important;
}

.text-muted {
    color: gray !important;
}

.text-bold {
    font-weight: bold !important;
}

.margin-medium-right {
    margin-right: 1.0em !important;
}

.margin-small-right {
    margin-right: 0.5em !important;
}

.border-red {
    border-color: red !important;
}

.extreme.header {
    font-size: 3em !important;
}

.border-right-thin {
    border-right: 1px solid black !important;
}

.border-right-false {
    border-right: 1px solid transparent !important;
}

.border-bottom-thick {
    border-bottom: 2px solid black !important;
    padding: 0 !important;
}

.border-bottom-thin {
    border-bottom: 1px solid black !important;
}

.table-group {
    text-align: center !important;
    font-family: 'Roboto', sans-serif !important;
    border-spacing: 0 !important;
    border-collapse: collapse !important;
    font-weight: 300 !important;
    font-size: 1.35em !important;
    color: #212529 !important;
    border: none !important;
}

.font-big {
    font-size: 1.25em !important;
}

.area-input {
    max-height: none !important;
    height: 106em !important;
    resize: none !important;
}

.player-small .column {
    padding-bottom: 0.1em !important;
}

.table-group tr {

}

.table-group td:not(.border-bottom-thick) {
    padding: 0.35em !important;
    border-top: none !important;
    border-left: none !important;
    height: 1.9em !important;
}

.table-group-secondary {
    table-layout: fixed !important;
}

.table-group td:not(.border-bottom-thick):not(.border-right-thin) {
    border: none !important;
}

.table-group span {
    font-size: 70% !important;
}

.background-green {
    background-color: #00c851 !important;
}

#psearch::placeholder {
    opacity: 0.9;
    color: grey;
}

.background-orange {
    background-color: #ffbb33 !important;
}

.background-red {
    background-color: #ff3547 !important;
}

.foreground-green {
    color: #00c851 !important;
}

.foreground-orange {
    color: #ffbb33 !important;
}

.foreground-red {
    color: #ff3547 !important;
}

h3.file-selected {
    color: #cc411f !important;
}

[data-sortable] {
    position: relative;
}

[data-sortable="1"]::before {
    content: "\f0de";
    font-family: Icons;
    position: absolute;
    left: 1px;
    top: 3px;
    transform: scale(0.7);
}

[data-sortable="2"]::before {
    content: "\f0dd";
    font-family: Icons;
    position: absolute;
    left: 1px;
    bottom: 3px;
    transform: scale(0.7);
}

[data-sortable="1"]::after {
    content: attr(data-sortable-index);
    position: absolute;
    left: 1px;
    transform: scale(0.7);
    top: 33%;
}

[data-sortable="2"]::after {
    content: attr(data-sortable-index);
    position: absolute;
    left: 1px;
    transform: scale(0.7);
    top: 33%;
}

.fi-wrap {
    position: relative;
    height: 2em;
}

.fi-right {
    left: 2em;
    position: absolute;
    width: 17em;
}

.fi-left {
    left: -0.5em;
    position: absolute;
}

.ta-wrapper {
    position: relative;
    overflow: hidden;
}

.ta-content {
    position: absolute;
    border: 1px solid transparent;
    pointer-events: none;
    color: black;
    width: 1000%;
}

.ta-area {
    color: transparent !important;
    caret-color: black;
    max-height: calc(100vh - 12em) !important;
    height: calc(100vh - 12em) !important;
    resize: none !important;
    overflow: auto;
}

.ta-area::selection {
    color: transparent;
}

.ta-keyword {
    text-shadow: -0.06ex 0 black, 0.06ex 0 black;
}

.ta-reserved {
    text-shadow: -0.06ex 0 #b300b3, 0.06ex 0 #b300b3;
    color: #b300b3;
}

.ta-reserved-protected {
    text-shadow: -0.06ex 0 #7132a8, 0.06ex 0 #7132a8;
    color: #7132a8;
}

.ta-reserved-private {
    text-shadow: -0.06ex 0 #3269a8, 0.06ex 0 #3269a8;
    color: #3269a8;
}

.ta-reserved-special {
    text-shadow: -0.06ex 0 #a37500, 0.06ex 0 #a37500;
    color: #a37500;
}

.ta-reserved-itemized {
    text-shadow: -0.06ex 0 #3CB371, 0.06ex 0 #3CB371;
    color: #3CB371;
}

.ta-reserved-itemizable {
    text-shadow: -0.06ex 0 #eb4034, 0.06ex 0 #eb4034;
    color: #eb4034;
}

.ta-color {
    text-decoration: underline;
}

.ta-constant {
    color: #175e5a;
}

.ta-error {
    text-decoration: underline;
    text-decoration-color: red;
    text-decoration-style: dashed;
}

.ta-boolean-on {
    text-shadow: -0.06ex 0 green, 0.06ex 0 green;
    color: green;
}

.ta-boolean-off {
    text-shadow: -0.06ex 0 red, 0.06ex 0 red;
    color: red;
}

.ta-comment {
    color: #696969;
}

.css-gl-show-other {
    position: fixed;
    bottom: 1em;
    right: 1.5em;
}

.css-show-hidden {
    position: fixed;
    bottom: 3em;
    right: 3.7em;
}

.css-ol-show-other {
    position: fixed;
    bottom: 1em;
    right: 1em;
}

.padding-none {
    padding: 0;
}

.settings-menu .active {
    font-weight: normal !important;
}

.modal .settings-menu .active {
    border-color: white !important;
}

.css-compact-grid .column {
    padding-top: 0.3em !important;
    padding-bottom: 0.3em !important;
}

.css-entry-hidden {
    opacity: 0.5;
}

.css-entry-opaque tr.css-entry:nth-child(even) {
    background-color: #7d7d7d3f;
}

.css-maxi-row tr.css-entry {
    height: 3em !important;
}

.css-small {
    font-size: 80%;
    margin-top: 0.1em;
}

.css-temporary {
    color: orange;
    position: absolute;
    font-size: 50%;
    top: 4em;
    width: 20em;
}

.css-devmode {
    color: #6ed1ff;
    position: absolute;
    font-size: 50%;
    top: 0.75em;
    width: 20em;
}

.ui.menu.css-menu .item {
    color: white;
}

.ui.menu.css-menu a:hover {
    color: white;
}

.css-nohoriz {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.css-dark {
    background-color: #141414;
}

.css-inventory-player.css-transparent {
    background: transparent;
    box-shadow: none;
    border: none;
}

.css-inventory-player.css-transparent .muted {
    color: gray !important;
}

.css-dark .ui.header {
    color: white;
}

.css-inventory-segment[data-op="equipped"] {
    border: 1px solid white;
}

.css-inventory-segment[data-op="backpack"] {
    border: 1px solid red;
}

.css-inventory-segment[data-op="chest"] {
    border: 1px solid green;
}

.css-inventory-segment[data-op="shops"] {
    border: 1px solid orange;
}

.css-inventory-segment .ui.header {
    color: lightgray;
    padding-left: .75em;
    padding-top: .25em;
    padding-bottom: .25em;
    margin: 0;
}

.css-inventory-segment {
    margin-bottom: .25em;
    padding: 0;
}

.css-inventory-segment .grid {
    margin-top: -.25em;
    margin-bottom: .25em;
}

.css-inventory-segment .grid .row {
    padding: 0;
    margin-left: 1em;
    margin-right: 1em;
}

.css-inventory-segment .grid .column {
    padding: .25em !important;
    margin: 0 !important;
}

.css-inventory-item {
    height: 31em;
    border: 1px gray solid;
    padding: .25em;

    color: white;
    position: relative;
    font-size: 90%;
}

.css-inventory-item-header {
    text-align: center;
    font-weight: bold;
}

.css-inventory-item-attribute {
    margin-top: 1em;
    padding-left: .5em;

    display: flex;
    flex-direction: column;
    align-content: left;
}

.css-inventory-item-attribute .item {

}

.css-inventory-item-extra {
    position: absolute;
    top: 12em;
    padding-left: .5em;
    display: flex;
    flex-direction: column;
    align-content: left;
}

.css-inventory-item-extra .item {
    text-align: left;
}

.css-inventory-item-price {
    position: absolute;
    left:.75em;
    bottom: .5em;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: left;
}

.css-inventory-item-sub3 {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    width: 100%;
    box-sizing: border-box;
}

.css-inventory-item-sub3 .item {
    flex: 0 0 33%;
}

.css-inventory-item-sub3a {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    box-sizing: border-box;
}

.css-inventory-item-sub3a .item:nth-child(1) {
    flex: 0 0 25%;
    text-align: center;
}

.css-inventory-item-sub3a .item:nth-child(2) {
    flex: 0 0 45%;
    text-align: center;
}

.css-inventory-item-sub3a .item:nth-child(31) {
    flex: 0 0 30%;
}

#view-inventory {
    padding-left: 5em !important;
    padding-right: 5em !important;
}

.css-inventory-sub {
    font-weight: normal;
    font-style: italic;
}

.css-inventory-sub.socketed {
    color: orange;
}

.css-inventory-sub.runed {
    color: cyan;
}

.css-inventory-sub.washed {
    color: lightgreen;
}
