table.sftools-table {
  --table-foreground: #212529;
  --table-background: #ffffff;

  position: absolute;
  margin-top: 1em;
  border-spacing: 0;
  border-collapse: collapse;

  font-family: 'Roboto' !important;
  font-weight: 300 !important;
  font-size: 1.35em !important;

  text-align: center;
}

table.sftools-table tbody {
  color: var(--table-foreground);
  background: var(--table-background);
}

table.sftools-table tbody.theme-dark {
  --table-foreground: white;
  --table-background: #141414;
}

table.sftools-table b {
  font-weight: bold;
}

table.sftools-table td {
  height: 1.9em;
}

table.sftools-table td.left {
  padding-left: 0.35em;
  text-align: left;
}

table.sftools-table td.right {
  padding-right: 0.35em;
  text-align: right;
}

table.sftools-table span {
  font-size: 70%;
}

table.sftools-table .headers td {
  text-overflow: clip;
  overflow: hidden;
}

.border-right-thin {
  border-right: 1px solid var(--table-foreground) !important;
}

.border-top-thin {
  border-top: 1px solid var(--table-foreground) !important;
}

.border-bottom-thin {
  border-bottom: 1px solid var(--table-foreground) !important;
}

.border-right-false {
  border-right: 1px solid transparent !important;
}

.border-bottom-thick {
  border-bottom: 2px solid var(--table-foreground) !important;
  padding: 0 !important;
}

.css-entry-opaque tr.css-entry:nth-child(even) {
  background-color: #7d7d7d3f;
}

.css-entry-opaque-image tr.css-entry:nth-child(4n+1) {
  background-color: #7d7d7d3f;
}

.opaque-rows tr:nth-child(even) {
  background-color: #7d7d7d3f;
}

.css-maxi-row tr.css-entry {
  height: 3em !important;
}
