.table-group {
  text-align: center !important;
  font-family: 'Roboto', sans-serif !important;
  border-spacing: 0 !important;
  border-collapse: collapse !important;
  font-weight: 300 !important;
  font-size: 1.35em !important;
  color: #212529 !important;
  border: none !important;
}

.table-group td:not(.border-bottom-thick) {
  padding: 0.35em !important;
  border-top: none !important;
  border-left: none !important;
  height: 1.9em !important;
}

.table-group td:not(.border-bottom-thick):not(.border-right-thin) {
  border: none !important;
}

.table-group span {
  font-size: 70% !important;
}

.border-right-thin {
  border-right: 1px solid black !important;
}

.border-top-thin {
  border-top: 1px solid black !important;
}

.border-bottom-thin {
  border-bottom: 1px solid black !important;
}

.border-right-false {
  border-right: 1px solid transparent !important;
}

.border-bottom-thick {
  border-bottom: 2px solid black !important;
  padding: 0 !important;
}

.border-bottom-thin {
  border-bottom: 1px solid black !important;
}

.css-entry-opaque tr.css-entry:nth-child(even) {
  background-color: #7d7d7d3f;
}

.css-entry-opaque-image tr.css-entry:nth-child(4n+1) {
  background-color: #7d7d7d3f;
}

.opaque-rows tr:nth-child(even) {
  background-color: #7d7d7d3f;
}

.css-maxi-row tr.css-entry {
  height: 3em !important;
}
