.player-index {
    position: absolute;
    font-size: 90%;
    opacity: 50%;
    left: -0em;
    top: 1.5em;
}

.selectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-bottom: 0.25em !important;
    padding-top: 0.25em !important;
}

.selectable div {
    padding: 0 !important;
}

.selectable-header div {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.selected {
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.nselected {
    cursor: pointer;
}
