.bordered .fields:last-of-type {
    margin-bottom: 0;
}

.bordered {
    padding: 0.5em;
    margin-bottom: 0.5em;
}

.player-index {
    position: absolute;
    font-size: 90%;
    opacity: 50%;
    left: -0em;
    top: 1.5em;
}

.bone {
    border: 1px solid orange;
}

.btwo {
    border: 1px solid purple;
}

.bthree {
    border: 1px solid blue;
}

.bfour {
    border: 1px solid red;
}

.bfive {
    border: 1px solid green;
}

.bsix {
    border: 1px solid pink;
}

.selectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-bottom: 0.25em !important;
    padding-top: 0.25em !important;
}

.selectable div {
    padding: 0 !important;
}

.selectable-header div {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.selected {
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.nselected {
    cursor: pointer;
}

.class-picture {
     margin-left: -0.75em !important;
     margin-right: 0.5em !important;
}
