/* Cursor */
.cursor-pointer {
  cursor: pointer;
}

.pointer-events-all {
  pointer-events: all;
}

.pointer-events-none {
  pointer-events: none;
}

/* Positioning */
.position-fixed {
  position: fixed;
}

.left-8 {
  left: 2em;
}

.bottom-0 {
  bottom: 0;
}

/* Sizing */
.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

/* Display */
.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

/* Alignment */
.items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

/* Gap */
.gap-2 {
  gap: 0.5em;
}

/* Padding */
.\!p-0 {
  padding: 0 !important;
}

.\!p-2 {
  padding: 0.5em !important;
}

.\!pb-0 {
  padding-bottom: 0 !important;
}

.px-12 {
  padding-left: 3em;
  padding-right: 3em;
}

.pt-4 {
  padding-top: 1em;
}

.p-4 {
  padding: 1em;
}

/* Margin */
.\!m-0 {
  margin: 0 !important;
}

.\!mt-0 {
  margin-top: 0 !important;
}

.my-2 {
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

.\!-ml-3 {
  margin-left: -0.75em !important;
}

.\!mr-2 {
  margin-right: 0.5em !important;
}

.\!mt-1 {
  margin-top: 0.25em !important;
}

.\!mt-2 {
  margin-top: 0.5em !important;
}

.\!mb-0 {
  margin-bottom: 0 !important;
}

.\!mb-1 {
  margin-bottom: 0.25em !important;
}

.mt-8 {
  margin-top: 2em;
}

.mt-2 {
  margin-top: 0.5em;
}

.ml-8 {
  margin-left: 2em;
}

.mb-20 {
  margin-bottom: 5em;
}

/* Text Size */
.text-5 {
  font-size: 1.25em;
}

.text-8 {
  font-size: 2em;
}

.text-20 {
  font-size: 5em;
}

.text-85\% {
  font-size: 85%;
}

/* Text Align */
.text-center {
  text-align: center;
}

/* Text Color */
.text-orange {
  color: orange;
}

.text-gray {
  color: gray;
}

.text-white {
  color: white;
}

.\!text-orange {
  color: orange !important;
}

/* Background Color */
.background-dark {
  background-color: #141414;
}

/* Opacity */
.opacity-0 {
  opacity: 0;
}

.opacity-50 {
  opacity: 50%;
}

/* Line Height */
.\!line-height-4 {
  line-height: 1em !important;
}