/* Topbar */
.locale-picker {
  position: absolute !important;
  right: 0;
  margin: 9px;
  height: 30px;
}

.locale-picker img {
  height: 30px!important;
}

.locale-picker .ui.dropdown .menu {
  border: none !important;
  box-shadow: none !important;
  background: none !important;
  margin-top: 0.5em !important;
}

/* Menu */
.ui.huge.menu .locale-picker .ui.dropdown .menu > .item {
  padding: 0 !important;
  height: 2em;
  margin: 0;
  margin-bottom: 0.5rem;
}

.ui.huge.menu.fixed {
  background-color: #212121;
  height: 50px;
  box-shadow: none;
  border: none;
}

.ui.huge.menu {
  padding-right: 4rem;
}

.ui.huge.menu .item {
  color: white;
}

.ui.huge.menu a:hover {
  color: white;
}

.ui.huge.menu a {
  color: white;
  text-decoration: none;
  line-height: 1 !important;
}

.ui.huge.menu.menu a:hover {
  background: #212121;
}

/* Body */
body {
  margin-top: 5em;
  height: auto;
  overflow-y: scroll !important;
  overflow-x: auto;
}

/* Inputs */
input:disabled {
  opacity: 1 !important;
}

/* Grid */
.css-small-row {
  padding-top: 0 !important;
  padding-bottom: 0.5em !important;
}

.css-nomargin-grid > .row {
  padding: 0 !important;
  padding-bottom: 0.5em !important;
}

.css-compact-grid .column {
  padding-top: 0.3em !important;
  padding-bottom: 0.3em !important;
}

/* Hover to display */
.hover-to-display {
  position: relative;
}

.hover-to-display > div.to-display {
  opacity: 0;
}

.hover-to-display > div.to-hover {
  inset: 0;
  position: absolute;
  pointer-events: none;
  color: gray;
}

.hover-to-display:hover > div.to-display {
  opacity: 1;
}

.hover-to-display:hover > div.to-hover {
  opacity: 0;
}