/* Cursor */
.cursor-pointer {
  cursor: pointer;
}

.\!cursor-pointer {
  cursor: pointer !important;
}

.pointer-events-all {
  pointer-events: all;
}

.pointer-events-none {
  pointer-events: none;
}

/* Positioning */
.position-fixed {
  position: fixed;
}

.position-absolute {
  position: absolute;
}

.position-relative {
  position: relative;
}

.left-8 {
  left: 2em;
}

.bottom-8 {
  bottom: 2em;
}

.right-3 {
  right: 0.75em;
}

.top-0 {
  top: 0;
}

.right-0 {
  right: 0;
}

.top-4 {
  top: 1em;
}

.bottom-0 {
  bottom: 0;
}

.top-8 {
  top: 5em;
}

/* Overflows */
.overflow-x-hidden {
  overflow-x: hidden;
}

.overflow-y-auto {
  overflow-y: auto;
}

.overflow-y-scroll {
  overflow-y: scroll;
}

/* Sizing */
.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.h-screen {
  height: 100vh;
}

/* Display */
.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

/* Alignment */
.items-center {
  align-items: center;
}

.\!items-start {
  align-items: flex-start !important;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

/* Gap */
.gap-2 {
  gap: 0.5em;
}

.gap-4 {
  gap: 1em;
}

.gap-8 {
  gap: 2em;
}

/* Padding */
.\!p-0 {
  padding: 0 !important;
}

.\!p-2 {
  padding: 0.5em !important;
}

.\!pb-0 {
  padding-bottom: 0 !important;
}

.pb-1 {
  padding-bottom: 0.25em;
}

.px-12 {
  padding-left: 3em;
  padding-right: 3em;
}

.px-1 {
  padding-left: 0.25em;
  padding-right: 0.25em;
}

.px-4 {
  padding-left: 1em;
  padding-right: 1em;
}

.pt-4 {
  padding-top: 1em;
}

.pl-4 {
  padding-left: 1em;
}

.pr-2 {
  padding-right: 0.5em;
}

.pr-4 {
  padding-right: 1em;
}

.\!pr-4 {
  padding-right: 1em !important;
}

.p-4 {
  padding: 1em;
}

.py-4 {
  padding-bottom: 1em;
  padding-top: 1em;
}

/* Margin */
.\!m-0 {
  margin: 0 !important;
}

.\!mt-0 {
  margin-top: 0 !important;
}

.\!mt-4 {
  margin-top: 1em !important;
}

.\!mt-6 {
  margin-top: 1.5em !important;
}

.mt-0 {
  margin-top: 0;
}

.mt-4 {
  margin-top: 1em;
}

.m-2 {
  margin: 0.5em;
}

.my-2 {
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

.\!-ml-3 {
  margin-left: -0.75em !important;
}

.ml-8 {
  margin-left: 1em;
}

.-ml-4 {
  margin-left: -1em;
}

.\!mr-2 {
  margin-right: 0.5em !important;
}

.ml-auto {
  margin-left: auto;
}

.\!mt-1 {
  margin-top: 0.25em !important;
}

.mt-1 {
  margin-top: 0.25em;
}

.\!mt-2 {
  margin-top: 0.5em !important;
}

.\!mb-0 {
  margin-bottom: 0 !important;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-4 {
  margin-bottom: 1em;
}

.\!mb-1 {
  margin-bottom: 0.25em !important;
}

.mt-8 {
  margin-top: 2em;
}

.\!mr-8 {
  margin-right: 2em !important;
}

.\!mr-16 {
  margin-right: 4em !important;
}

.\!mt-8 {
  margin-top: 2em !important;
}

.mt-2 {
  margin-top: 0.5em;
}

.mt-6 {
  margin-top: 1.5em;
}

.ml-8 {
  margin-left: 2em;
}

.mb-20 {
  margin-bottom: 5em;
}

.mb-12 {
  margin-bottom: 3em;
}

/* Text Size */
.text-5 {
  font-size: 1.25em;
}

.text-8 {
  font-size: 2em;
}

.text-20 {
  font-size: 5em;
}

.text-85\% {
  font-size: 85%;
}

/* Text Align */
.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.\!text-center {
  text-align: center !important;
}

/* Text Color */
.text-orange {
  color: orange;
}

.text-orangered {
  color: orangered;
}

.\!text-orangered {
  color: orangered !important;
}

.text-violet {
  color: violet;
}

.text-orange\:hover:hover {
  color: orange !important;
}

.text-red {
  color: red;
}

.\!text-red {
  color: red !important;
}

.text-black {
  color: black;
}

.\!text-black {
  color: black !important;
}

.text-lightblue {
  color: lightblue;
}

.text-crimson {
  color: crimson;
}

.text-gray {
  color: gray;
}

.text-mangenta {
  color: magenta;
}

.text-green {
  color: green;
}

.text-greenyellow {
  color: greenyellow;
}

.\!text-green {
  color: green !important;
}

.text-white {
  color: white;
}

.text-white\:hover:hover {
  color: white !important;
}

.\!text-white {
  color: white !important;
}

.\!text-orange {
  color: orange !important;
}

/* Text Color Hover */
.\!text-red\:hover:hover {
  color: red !important;
}

.\!text-darkgreen\:hover:hover {
  color: darkgreen !important;
}

/* Background Color */
.background-dark {
  background-color: #141414;
}

.background-light {
  background-color: #1b1c1d;
}

.background-dark\:hover:hover {
  background-color: #141414;
}

.background-light\:hover:hover {
  background-color: #1b1c1d;
}

.\!background-orange {
  background-color: orange !important;
}

.\!background-green {
  background-color: green !important;
}

/* Opacity */
.opacity-0 {
  opacity: 0;
}

.opacity-50 {
  opacity: 50%;
}

.\!opacity-100 {
  opacity: 100% !important;
}

/* Line Height */
.\!line-height-4 {
  line-height: 1em !important;
}

/* zIndex */
.z-2 {
  z-index: 2;
}

/* Font Family */
.font-arial {
  font-family: Arial, Helvetica, sans-serif !important;
}

.font-monospace {
  font-family: monospace !important;
}

/* Box Shadow */
.\!box-shadow-none {
  box-shadow: none !important;
}

/* Borders */
.\!border-red {
  border-color: red !important;
}

.border-gray {
  border: 1px solid rgb(58, 58, 58);
}

.border-left-gray {
  border-left: 1px solid rgb(58, 58, 58);
}

.border-bottom-gray {
  border-bottom: 1px solid rgb(58, 58, 58);
}

.border-top-gray {
  border-top: 1px solid rgb(58, 58, 58);
}

.\!border-radius-1 {
  border-radius: 0.25em !important;
}

/* Font Weight */
.font-bold {
  font-weight: bold;
}