@import url('../global.css');

.css-img-container {
  width: 30px;
  height: 30px;
  margin: auto;
}

.opaque-rows tr:nth-child(even) {
  background-color: #7d7d7d3f;
}

.css-img-container img {
  width: 30px;
  height: 30px;
}

.pp-main {
  margin: 1.5em;
}

.rotated {
  transform: rotate(-90deg);
}

.ghosted .text-center {
  opacity: 40%;
}

.fixed-header {
  text-align: center !important;
  font-family: 'Roboto', sans-serif !important;
  border-spacing: 0 !important;
  border-collapse: collapse !important;
  font-weight: 300 !important;
  font-size: 1.35em !important;
  color: #212529 !important;
  border: none !important;
}

.fixed-header thead tr {
  display: block;
  margin-right: 17px;
}

.fixed-header tbody {
  overflow: auto;
  display: block;
  height: 69vh;
  width: 100%;
}

.fixed-header td {
  padding: 0 !important;
  border-top: none !important;
  border-left: none !important;
  height: 1.9em !important;
}

.today::after {
  background: linear-gradient(#fff, #fff) no-repeat center / 3px 100%;
  color: transparent;
  content: "|";
}
