@import url('../global.css');

.container.full-width {
  width: 100vw !important;
  padding: 0 2vw 0 2vw;
}

.bolder {
  font-weight: bold;
}

.cell-tiny {
  width: 5%;
}

.cell {
  width: 7%;
}

.cell-big {
  width: 11%;
}

.text-red {
  color: red;
}

.text-green {
  color: green;
}

.text-total {
  font-weight: bold;
  text-decoration: underline;
}

.text-small {
  font-size: 80%;
}

td.hint-container {
  position: relative;
}

.hint {
  color: darkgray;
  font-size: 80%;
  position: absolute !important;
  left: 0.5em;
  top: 0.1em;
}