@import url('../global.css');
@import url('../editor.css');

.selectable {
  height: 3em;
}

.plain.row {
  margin-left: 1em;
  margin-right: 1em;
  text-align: center;
}

.plain.row .column {
  padding: 0 !important;
}
