@import url('../global.css');
@import url('../editor.css');

.selectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding-bottom: 0.25em !important;
  padding-top: 0.25em !important;
  height: 3em;
}

.selected {
  background-color: rgba(133, 133, 133, 0.1);
  cursor: pointer;
}

.nselected {
  cursor: pointer;
}

.plain.row {
  margin-left: 1em;
  margin-right: 1em;
  text-align: center;
}

.plain.row .column {
  padding: 0 !important;
}
